<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/notes"># SuperMarkIt</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#/notes">Notes</a></li>
        <li class="active"><a href="#/note">New Note</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#/">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="editor-wrapper" role="main">
  <div class="editor" ui-ace="{ mode: 'markdown', theme: 'chrome', onLoad: aceLoaded }" ng-model="editor.note.content" ng-change="editor.renderMd(); editor.saveUpdates()"></div>
  <div id="md-view" ng-bind-html="editor.preview"></div>
</div>
