<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/notes"># SuperMarkIt</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#/notes">Notes</a></li>
        <li class="active"><a href="#/note">New Note</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#/">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" role="main">
  <div class="row">
    <div class="col s4">
      <div class="editor" ui-ace="{ mode: 'markdown', theme: 'chrome', onLoad: aceLoaded }" ng-model="editor.note.content" ng-change="editor.renderMd(); editor.saveUpdates()" style="height: 200px;"></div>
    </div>
    <div id="md-view" class="col s4 flow-text" ng-bind-html="editor.preview"></div>
  </div>
</div>
