<!DOCTYPE html>
<html>
  <title>Where the magic happens</title>

  <body>
    <div class="box">
      <div class="row-fluid">
        <div class="panel panel-default">
            <div class="col-md-7" class="editor" ui-ace="{ mode: 'markdown', theme: 'chrome', onLoad: aceLoaded }" ng-model="editor.source" ng-change="editor.renderMd()", style="height: 500px;"></div>
            <div class="col-md-5 text-center>" id="md-view" class="preview col s4 flow-text" ng-bind-html="editor.result"></div>
          </div>
        </div>
      </div>
    <div>
  </body>
</html>
