<div id="jumbo">
  <div class="wrapper">
    <h1># SuperMarkIt</h1>
    <p>
      Take beautiful notes with <strong>**markdown**</strong>
    </p>
    <a href="#/login" class="btn btn-default">Log In</a>
    <a href="#" class="btn btn-default">Sign Up</a>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p class="text-center">
      <a href="https://github.com/mic-css/supermarkit">
        Made with <i class="fa fa-heart"></i> by Markdown Squad
      </a>
    </p>
  </div>
</div>
