<div id="jumbo">
  <div class="wrapper">
      <!-- <div class="row"> -->
      <div class="input-group">
        <h2>Log in</h2>
        <input type="text" class="form-control" placeholder="Username">
        <input type="password" class="form-control" placeholder="Password">
        <a href="#/notes" class="btn btn-primary">Log in</a>
      </div>
    </div>
</div>

<div class="footer">
  <div class="container">
    <p class="text-center">Made with <i class="fa fa-heart"></i> by Markdown Squad</p>
  </div>
</div>
